name: Publish to Pub.dev

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*" # Match tags like v1.0.0, v0.1.0-alpha, etc.

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for authentication using OIDC
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1

      - name: Install dependencies
        run: dart pub get

      - name: Verify Build (Analyze and Test)
        run: |
          dart analyze
          dart test

      - name: Publish package
        run: dart pub publish --force
  environment:
    name: pub.dev
